<?xml version="1.0" encoding="UTF-8"?>
<suite name="webdriver" parallev="false">
    <test name="UI测试">
        <classes>
            <!--<parameter name="keyVa" value="JAVA并发编程"/>-->
            <!--<parameter name="testurl" value="https://www.baidu.com/"/>-->
                <class name="com.sp.BaiduTest"/>

        </classes>
    </test>
    <listeners>
        <listener class-name="com.sp.config.ExtentTestNGIReporterListener"/>

    </listeners>
</suite>